Source: ionic
Section: user/other
Priority: optional
Maintainer: Akos Polster <akos@pipacs.com>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: https://github.com/pipacs/ionic

Package: ionic
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: E-book reader
 Reader of EPUB format e-books.
XSBC-Maemo-Display-Name: Ionic
