/*  XML blockout */
p {
    margin-top: 0.75em;
    text-align: justify;
    margin-bottom: 0.75em
    }
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    clear: both
    }
hr {
    width: 33%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    clear: both
    }
body {
    margin-left: 10%;
    margin-right: 10%
    }
.center {
    text-align: center;
    font-weight: bold
    }
.tr {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2em;
    background-color: #f6f2f2;
    color: black;
    border: solid black 1px
    }